/* Youtube */
.item_ytb {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(153, 224, 245);
    border: 2px solid black;
    transform: scale(1);
    transition: scale(1);
    transition: 0.4s ;
}
.item_ytb a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.item_ytb i {
    font-size: 2rem;
    color: black;
}
.item_ytb:hover i {
    color:#db1811;
}
.item_ytb i:hover {
    transform: rotateX(360deg);
}
.youtube {
    transition: 0.4s ease;
    z-index: 2;
}
.item_ytb:hover {
    transform: scale(1.5);
    transition: scale(1);
    transition: 0.4s ;
    background: white;
    border: 2px solid black;
}
/* Gmail *//* CSS */
.item_mail {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(153, 224, 245);
    border: 2px solid black;
    transition: transform 0.4s ease, background 0.4s ease, border 0.4s ease;
}
.item_mail a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.item_mail img {
    width: 34px;
    height: auto;
    font-size: 2rem;
    color: black;
    filter: grayscale(100%) brightness(50%);
    transition: filter 0.4s ease, transform 0.4s ease;
}
.item_mail:hover {
    transform: scale(1.5);
    background: white;
    border: 2px solid black;
}
.item_mail:hover img {
    filter: grayscale(0%) brightness(100%);
}
.icon_mail {
    display: flex;
    justify-content: baseline;
}
.item_mail:hover img.icon_mail {
    transform: rotateX(360deg);
}