.bur_reseau {
    display: flex;
    justify-content: space-around;
}
.text_bur {
    display: flex;
    justify-content: center;
}
/* Insta */
.item {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(153, 224, 245);
    border: 2px solid black;
    transform: scale(1);
    transition: scale(1);
    transition: 0.4s ;
}
.item a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.item i {
    font-size: 2rem;
    color: black;
}
.item i:hover {
    transform: rotateX(360deg);
}
.icon {
    transition: 0.4s ease;
    z-index: 2;
}
.item:hover {
    transform: scale(1.5);
    transition: scale(1);
    transition: 0.4s ;
    background: linear-gradient(-20deg , #f1d622, #F58529, #f74b99, #7400b7);
}
/* Twitter */
.items {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(153, 224, 245);
    border: 2px solid black;
    transform: scale(1);
    transition: scale(1);
    transition: 0.4s ;
}
.items a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.items i {
    font-size: 2rem;
    color: black;
}
.items i:hover {
    transform: rotateX(360deg);
}
.items:hover i {
    color: white;
}
.twitter {
    transition: 0.4s ease;
    z-index: 2;
}
.items:hover {
    transform: scale(1.5);
    transition: scale(1);
    transition: 0.4s ;
    background-color: black;
    color: white;
    border: 2px solid white;
}
.twitter:hover {
    color: white;
}
.Tw:hover {
    color: white;
}
/* Tik-tok */
.itemst {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(153, 224, 245);
    border: 2px solid black;
    transform: scale(1);
    transition: scale(1);
    transition: 0.4s ;
}
.itemst a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.itemst i {
    font-size: 2rem;
    color: black;
}
.itemst i:hover {
    transform: rotateX(360deg);
}
.itemst:hover i {
    color: white;
    filter:drop-shadow(2px 2px 0px rgb(255, 0, 0)) drop-shadow(-0.9px -1.3px 0px rgb(0, 217, 255)) ;
}
.tiktok {
    transition: 0.4s ease;
    z-index: 2;
}
.itemst:hover {
    transform: scale(1.5);
    transition: scale(1);
    transition: 0.4s ;
    background-color: black;
    color: white;
    border: 2px solid white;
}
.icon {
    color: white;
}
.Ti:hover {
    color: white;
}
/* Discord */
.itemd {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(153, 224, 245);
    border: 2px solid black;
    transform: scale(1);
    transition: scale(1);
    transition: 0.4s ;
}
.itemd a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.itemd i {
    font-size: 2rem;
    color: black;
}
.itemd:hover i {
    color: white;
}
.itemd i:hover {
    transform: rotateX(360deg);
}
.discord {
    transition: 0.4s ease;
    z-index: 2;
}
.itemd:hover {
    transform: scale(1.5);
    transition: scale(1);
    transition: 0.4s ;
    background: rgb(114,137,218);
    border: 2px solid white;
}