.bur_reseau {
    display: flex;
    justify-content: space-around;
}
/* Insta */
.item {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(153, 224, 245);
    border: 2px solid black;
    transform: scale(1);
    transition: scale(1);
    transition: 0.4s ;
}
.item svg {
    font-size: 2rem;
    color: black;
    display: flex;
    justify-content: center;
}
.item svg:hover {
    transform: rotateX(360deg);
}
.insta {
    transition: 0.4s ease;
    z-index: 2;
}
.item:hover {
    transform: scale(1.5);
    transition: scale(1);
    transition: 0.4s ;
    background: linear-gradient(-20deg , #f1d622, #F58529, #f74b99, #7400b7);
}
/* Twitter */
.items {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(153, 224, 245);
    border: 2px solid black;
    transform: scale(1);
    transition: scale(1);
    transition: 0.4s ;
}
.items a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.items svg {
    font-size: 2rem;
    color: black;
}
.items svg:hover {
    transform: rotateX(360deg);
}
.items:hover svg {
    color: white;
}
.twitter {
    transition: 0.4s ease;
    z-index: 2;
}
.items:hover {
    transform: scale(1.5);
    transition: scale(1);
    transition: 0.4s ;
    background-color: black;
    color: white;
    border: 2px solid white;
}
.twitter:hover {
    color: white;
}
.Tw:hover {
    color: white;
}
/* Youtube */
.item_ytb {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(153, 224, 245);
    border: 2px solid black;
    transform: scale(1);
    transition: scale(1);
    transition: 0.4s ;
}
.item_ytb a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.item_ytb svg {
    font-size: 2rem;
    color: black;
}
.item_ytb:hover svg {
    color:#db1811;
}
.item_ytb svg:hover {
    transform: rotateX(360deg);
}
.youtube {
    transition: 0.4s ease;
    z-index: 2;
}
.item_ytb:hover {
    transform: scale(1.5);
    transition: scale(1);
    transition: 0.4s ;
    background: white;
    border: 2px solid black;
}
/* Gmail *//* CSS */
.item_mail {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(153, 224, 245);
    border: 2px solid black;
    transition: transform 0.4s ease;
}
.item_mail a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.item_mail img {
    width: 34px;
    height: auto;
    font-size: 2rem;
    color: black;
    filter: grayscale(100%) brightness(50%);
    transition: filter 0.4s ease, transform 0.4s ease;
}
.item_mail:hover {
    transform: scale(1.5);
    background: white;
    border: 2px solid black;
}
.item_mail:hover img {
    filter: grayscale(0%) brightness(100%);
}
.icon_mail {
    display: flex;
    justify-content: baseline;
}
.item_mail img:hover {
    transform: rotateX(360deg);
}
svg {
    width: 34px;
    height: auto;
}
/* Tik tok*/
.itemst {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(153, 224, 245);
    border: 2px solid black;
    transform: scale(1);
    transition: scale(1);
    transition: 0.4s ;
}
.itemst a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.itemst svg {
    font-size: 2rem;
    color: black;
}
.itemst svg:hover {
    transform: rotateX(360deg);
}
.itemst:hover svg {
    color: white;
    filter:drop-shadow(2px 2px 0px rgb(255, 0, 0)) drop-shadow(-0.9px -1.3px 0px rgb(0, 217, 255)) ;
}
.tiktok {
    transition: 0.4s ease;
    z-index: 2;
}
.itemst:hover {
    transform: scale(1.5);
    transition: scale(1);
    transition: 0.4s ;
    background-color: black;
    color: white;
    border: 2px solid white;
}
.icon {
    color: white;
}
.Ti:hover {
    color: white;
}
/* Discord (fonctionnel) */
.itemd {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(153, 224, 245);
    border: 2px solid black;
    transform: scale(1);
    transition: scale(1);
    transition: 0.4s ;
}
.itemd a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.itemd svg {
    font-size: 2rem;
    color: black;
}
.itemd:hover svg {
    color: white;
}
.itemd svg:hover {
    transform: rotateX(360deg);
}
.discord {
    transition: 0.4s ease;
    z-index: 2;
}
.itemd:hover {
    transform: scale(1.5);
    transition: scale(1);
    transition: 0.4s ;
    background: rgb(114,137,218);
    border: 2px solid white;
}
@keyframes typing {
    0% {
      width: 0;
    }
    50% {
      width: 100%;
    }
    100% {
      width: 100%;
    }
  }
.typing-animation {
  display: flex;
  align-items: center;
}
.text-container {
  overflow: hidden;
}
div.typing-animation.active {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#text_bur {
    display: inline-block;
    justify-content: center;
    font-family: "Pacifico", cursive;
    color: linear-gradient(to right, #ceeef8, #bddfee);
    font-size: 29px;
    white-space: nowrap;
    overflow: hidden;
}
.typing-animation.active #text_bur {
  animation: typing 4s steps(29);
}
@keyframes typings {
    0% {
      width: 0;
    }
    50% {
      width: 100%;
    }
    100% {
      width: 100%;
    }
}

.animation-typing {
  display: flex;
  align-items: center;
}

.container-text {
  overflow: hidden;
}

div.animation-typing.w_active {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#text_wanadoo {
    display: inline-block;
    justify-content: center;
    font-family: "Pacifico", cursive;
    color: linear-gradient(to right, #ceeef8, #bddfee);
    font-size: 29px;
    white-space: nowrap;
    overflow: hidden;
}

.animation-typing.w_active #text_wanadoo {
    animation: typings 4s steps(30);
}
