[id^="boite_fr"] {
    display: inline-block;
    width: 300px;
    height: 200px;
    background-color: rgb(100, 191, 219);
    border: 0.22em solid rgb(15, 15, 15);
    border-radius: 6px;
    margin: 30px 0px 25px 1px;
    text-decoration: none; 
    color: black;
    vertical-align: top; 
    text-align: center;
    text-decoration: none;
    padding: 7px;
    transition: box-shadow 1s;
    box-shadow: 
    1rem 1rem 0 -0.22rem #ceeef8,
    1rem 1rem 0 0 black;
}
[id^="boite_fr"]:hover {
    box-shadow:
    0.5em 0.5em 0 -0.22rem #ceeef8,
    0.5em 0.5em 0 0 black;
}
[id^="boite_fr"] h4 p {
    padding: 3px;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
}
.choix_fpsb-x {
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    margin: 0;
}
#fpsb-x-p {
    margin: 30px;
    color: rgb(115, 249, 249);
}
#img-fpsb-x-playlist {
    margin: 40PX 0PX 100PX 40%;
    border-radius: 15px;
}
#history-fpsb {
    font-family: "Seymour One", sans-serif;
    margin: 30px 0 0 0;
}
.center-texte-history {
    text-align: center;
}
#fpsb-history-center {
    font-family: "Lemon", serif;
    padding: 50px;
    font-size: 20px;
    line-height: 1.7;
}
#more-about-fpsb {
    font-family: "Seymour One", sans-serif;
    font-size: 30px;
    text-align: center;
    padding: 0 0 50px 0;
}
#more-about-fpsb a {
    text-decoration: none;
    color: aqua;
    padding: 20px;
    background-color: rgb(122, 122, 122);
    border: solid 4px aqua;
    border-radius: 15px;
    transition: font-size 0.2s ease-out;
    font-size: 30px;
}
#more-about-fpsb a:hover {
    transition: background-color 0.9s ease-in-out;
    background-color:rgb(157, 157, 157) ;
}
#anim-btn  :active  {
    animation: largeur 1s ;
    transform-origin: center center; 
}
@keyframes largeur {
    0% {
        scale: 1;
    }

    25% {
        scale: 1.2;
    }

    50% {
        scale: 1;
    }

    75% {
        scale: 1.2;
    }

    100% {
        scale: 1;
    }
}
p span {
    margin-right: 5px;
}
.lot-spinners-modders {
    padding: 50px;
    font-family: "Lemon", serif;
}
#fpsb-people {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
#fpsb-people a {
    text-decoration: none;
    color: black;
    border-radius: 15px;
}
.spinners-modders-cases {
    padding: 30px;
    height: 70px;
    width: 70px;
    border-radius: 15px;
    background-color: rgb(105, 175, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px black solid;
}
.spinners-modders-cases :active {
    animation: largeur 0.4s ;
    transform-origin: center center; 
}