/* Font */
@import url('https://fonts.googleapis.com/css2?family=Della+Respira&family=Gloria+Hallelujah&family=Lemon&family=Modak&family=Nanum+Pen+Script&family=Oleo+Script:wght@400;700&family=Pacifico&family=Seymour+One&family=Shadows+Into+Light+Two&display=swap');
/*Vrm pas mal pour du p mais peut aussi aller pour tt je pense */
.lemon-regular {
    font-family: "Lemon", serif;
    font-weight: 400;
    font-style: normal;
}  
@import url('https://fonts.googleapis.com/css2?family=Della+Respira&family=Gloria+Hallelujah&family=Modak&family=Nanum+Pen+Script&family=Oleo+Script:wght@400;700&family=Pacifico&family=Seymour+One&family=Shadows+Into+Light+Two&display=swap');
/*Maybe for the h2, h3*/
.modak-regular {
    font-family: "Modak", system-ui;
    font-weight: 400;
    font-style: normal;
  }
@import url('https://fonts.googleapis.com/css2?family=Della+Respira&family=Gloria+Hallelujah&family=Nanum+Pen+Script&family=Oleo+Script:wght@400;700&family=Pacifico&family=Seymour+One&family=Shadows+Into+Light+Two&display=swap');
/*Maybe for the p */
.della-respira-regular {
    font-family: "Della Respira", serif;
    font-weight: 400;
    font-style: normal;
}  
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Nanum+Pen+Script&family=Oleo+Script:wght@400;700&family=Pacifico&family=Seymour+One&family=Shadows+Into+Light+Two&display=swap');
/*Pour les gros textes genre h1*/
.seymour-one-regular {
    font-family: "Seymour One", sans-serif;
    font-weight: 400;
    font-style: normal;
}  
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Nanum+Pen+Script&family=Oleo+Script:wght@400;700&family=Pacifico&family=Shadows+Into+Light+Two&display=swap');
.shadows-into light two-regular {
    font-family: "Shadows Into Light Two", cursive;
    font-weight: 400;
    font-style: normal;
}  
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Nanum+Pen+Script&family=Oleo+Script:wght@400;700&family=Pacifico&display=swap');
.nanum-pen script-regular {
    font-family: "Nanum Pen Script", cursive;
    font-weight: 400;
    font-style: normal;
}  
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Oleo+Script:wght@400;700&family=Pacifico&display=swap');
.gloria-hallelujah-regular {
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 400;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Pacifico&display=swap');
oleo-script-regular {
    font-family: "Oleo Script", system-ui;
    font-weight: 400;
    font-style: normal;
}
.oleo-script-bold {
    font-family: "Oleo Script", system-ui;
    font-weight: 700;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}
/* body et le reste */
::selection {
    color: rgb(245, 245, 245);
    background-color: rgb(68, 124, 179);
}
::placeholder {
    color: rgb(93, 182, 220);
    font-family: "Lemon", serif;
}
body {
    overflow-x: hidden;
    height: 100vh;
    background-color: rgb(122, 122, 122);
    margin: 0;
}
#img-center {
    display: flex;
    justify-content: center;
}
#logo {
    height: 100px;
    margin: 10px 0px 0px 0%;
    border-radius: 50%;
}
#jojo-ref {
    opacity: 0%;
}
.pr-p {
    color: rgb(189, 223, 238);
    font-size: 22px;
    font-family: "Pacifico", cursive;
}
.st-pr-p {
    color: rgb(189, 223, 238);
    font-size: 25px;
    margin: 40px 0 30px 0;
    font-family: "Lemon", serif;
}
a {
    text-decoration: none;
}
.collab_jeb {
    gap: 35px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
}
.error {
    display: flex;
    justify-content: baseline;
    text-align: end;
    text-align: end;
}
.error-title {
    display: flex;
    justify-content: center;
    text-align: center;
}
/* Menu */
.all_menu {
    font-family: "Lemon", serif;
    display: flex;
    justify-content:  space-between;
    margin: 10px;
}
hr {
    height: 2px;
    border: none;
    background-color: rgb(189, 223, 238);
}
.menu1:hover,
.mod:hover,
.part:hover,
.collab:hover,
.contact:hover {
    transition: background-color 1s;
    border-radius: 5px;
    padding: 10px 15px;
    background-color: aliceblue;
}
.menu {
    font-size: 1.3em;
}
.fake_menu {
    border-radius: 5px;
    padding: 10px 15px;
    background-color: rgb(122, 122, 122);
}
.menu a {
    color: rgb(93, 182, 220);
    text-decoration: none;
    padding: 10px 15px;
    float: right; 
}
.activer {
    transition: background-color 2s;
    border-radius: 5px;
    padding: 10px 15px;
    background-color: rgb(189, 223, 238);   
}
.two_title-shadow {
    text-shadow: 3px 3px 5px rgb(0, 0, 0);
}
.title-shadow {
    text-shadow: 1px 1px 10px rgb(124, 149, 173);
}
/* contact */
.mail {
    text-decoration: none;
    color: rgb(8, 79, 86);
}
.contact-place {
    float: left;
}
/* random text variable */
.center {
    text-align: center;
}
.aqua-text {
    color: aqua;
}
.aliceblue-text {
    color:rgb(189, 223, 238);
}
h1 {
    color: aqua;
    text-align: center;
}
/* vidéo */
.japen19_video_hover:hover {
    transition: color 1s;
    color: rgb(189, 223, 238);
}
.japen19_video {
    text-decoration: none;
    color: rgb(93, 182, 220);
}
/* barre de recherche */
.search_button {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 3px 5px 2px  5px ;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color:  rgb(189, 223, 238);
    
}
.search_button:hover {
    cursor:pointer;
}
.search_bar {
    font-family: "Lemon", serif;
    font-size: 1.1em;
    padding-left: 20px ;
    color: rgb(93, 182, 220);
    background-color:  rgb(189, 223, 238);
    border-radius: 10px;
    display: flex;
    left: 10%;
    border: none;
    outline: none;
}
.search {
    display: flex;
    align-items: center;
    border-radius: 15px;
    margin-top: 11px;
    gap: 10px;
    /*à voir selon le meilleur placement*/
    margin-left: 120px;
}
/* collab */
.collab_description {
    color: rgb(189, 223, 238);
    text-align: center;
    margin: 50px;
    margin-bottom: 100px;
    font-family: "Modak", system-ui;
    font-weight: 200;
}
.box_jeb {
    display: flex;
    width: 150px;
    height: 150px;
    background-image: url('photo/hPPUselE_400x400.jpg'); 
    background-size: cover;
    background-position: center; 
    border: 2px solid #000000;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: none;
    color: #000000;
}
/* board */
.all_board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    margin:75px 0 100px 0;
}
.board_link {
    padding: 7px;
}
#strings {
    transition: size 1s  ;
    background-color:red ;
}
@keyframes size {
    from {
        transform: scale(1.2);
    }

    to {
        transform: scale(1);
    }
}
.board_link img {
    transition: transform 0.5s ease-in-out; /* Utilisez "transform" au lieu de "size" ici */
}
.board_pic { 
    height: 75px;
    text-decoration: none;
    margin-left: 7px ;
}
.pic {
    margin-left: 15px ;
}
.text_board {
    text-align: center;
    color: rgb(189, 223, 238);
    font-family: "Pacifico" , cursive;
}
.board_link:hover {
    transform: scale(1.2);
}
.lien-image img {
    transition: transform 0.3s ease-in-out;
}
.board_link:hover img {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}   
/* vortex */
#vt_img {
    width: 176px;
    height: 176px;
    border-radius: 50%;
    display: flex;
    margin-left: 43%;
}
/* text align  */
#p-spinner {
    display: flex;
    justify-content: center;
    margin: 0px 0px 50px 0px;
    color: #ceeef8;
    font-size: 25px;
    font-family: "Pacifico" , cursive;
}
.aligner {
    position: relative;
    justify-content: space-between;
}
.compte {
    position: absolute;
    bottom: 0;
    right: 0;
    justify-content: baseline;
}
.error-middle {
    display: flex;
    justify-content: center;
    margin: 150px;
    font-size: 40px;
}
#vt-tt {
    font-size: 50px;
}